h1 {
    text-align: center;
}

.percent {
    font-size: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;

}

.of {
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.number {
    font-size: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;

}

.total {

}